
    /* Header Início */

    .header {
      height: var(--tamanho-header);
      background-color: #216c3c;
      color: #ffff;
    }
  
    .imagem_link{
      width: 30px;
      padding: ;
    }

    .logo {
      width: fit-content;
      font-weight: 600;
      font-size: 40px;
    }
  
    .container {
      display: flex;
      width: 80%;
      margin: auto;
    }
  
    .header .container {
      justify-content: space-between;
      align-items: center;
      height: 100%;
    }
  
    .navbar {
      width: 40%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      list-style: none;
      color: #ffffff;
      padding: 10px;
    }
  
    .header a {
      text-decoration: none;
      color: #ffffff;
      margin: 10px;
      font-size: 20px;
    }
  
    .agora {
      font-weight: 800;
    }
  
    .botao {
      margin: 10px;
      display: flex;
      justify-content: space-between;
  
    }
  
    .botao .login {
      background-color: #4caf70;
      padding: 10px 20px;
      border-radius: 10px;
      border: none;
      color: #ffff;
      margin: 10px;
    }
  
    .botao .cadastro {
      background-color: #c44242;
      padding: 10px 20px;
      border-radius: 10px;
      border: none;
      color: #ffff;
      margin: 10px;
    }
  
    /* Header Fim */

