footer{
    background-color: #272727;
    display: grid;
    grid-template-rows: 5fr 1fr;
    color: #ffffff;

    section.footerLinha{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding-top: 1rem;

        img.logo{
            width: 6rem;
            height: 4rem;
            object-fit: cover;
        }

        nav{
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
        }

        a{
            text-decoration: none;
            color: #ffffff;
        }

        p{
            display: flex;
            align-items: center;
            gap: 0.5rem;
        }

        .icone{
            width: 1rem;
            height: 1rem;
        }

        .iconeInstagram{
            width: 3rem;
            height: 3rem;
        }
    }

    section.footerTexto{
        display: flex;
        justify-content: center;
        padding-top: 1rem;
    }
}